body {
  display: flex;
  height: 100vh;
  margin: 0;
}
@media (max-width: 450px) {
  body {
    flex-direction: column;
    height: unset;
  }
}

div {
  flex: 1;
}
@media (max-width: 450px) {
  div {
    flex: unset;
    height: 3rem;
  }
}

.box-grey-0 {
  background: hsl(0, 0%, 100%);
}

.box-grey-1 {
  background: hsl(0, 0%, 95%);
}

.box-grey-2 {
  background: hsl(0, 0%, 90%);
}

.box-grey-3 {
  background: hsl(0, 0%, 85%);
}

.box-grey-4 {
  background: hsl(0, 0%, 80%);
}

.box-grey-5 {
  background: hsl(0, 0%, 75%);
}

.box-grey-6 {
  background: hsl(0, 0%, 70%);
}

.box-grey-7 {
  background: hsl(0, 0%, 65%);
}

.box-grey-8 {
  background: hsl(0, 0%, 60%);
}

.box-grey-9 {
  background: hsl(0, 0%, 55%);
}

.box-grey-10 {
  background: hsl(0, 0%, 50%);
}

.box-grey-11 {
  background: hsl(0, 0%, 45%);
}

.box-grey-12 {
  background: hsl(0, 0%, 40%);
}

.box-grey-13 {
  background: hsl(0, 0%, 35%);
}

.box-grey-14 {
  background: hsl(0, 0%, 30%);
}

.box-grey-15 {
  background: hsl(0, 0%, 25%);
}

.box-grey-16 {
  background: hsl(0, 0%, 20%);
}

.box-grey-17 {
  background: hsl(0, 0%, 15%);
}

.box-grey-18 {
  background: hsl(0, 0%, 10%);
}

.box-grey-19 {
  background: hsl(0, 0%, 5%);
}

.box-grey-20 {
  background: hsl(0, 0%, 0%);
}

/*# sourceMappingURL=styles.css.map */
