$mobile-viewport: 450px;

body {
  display: flex;
  height: 100vh;
  margin: 0;

  @media (max-width: $mobile-viewport) {
    flex-direction: column;
    height: unset;
  }
}

div {
  flex: 1;

 @media (max-width: $mobile-viewport) {
  flex: unset;
  height: 3rem;
 }
  
}

@for $i from 0 through 20 {
  .box-grey-#{$i} {
    background: hsl(0 0% (100% - ($i * 5%)));
  }
}

